.card {
    width: "18rem";
    border: 0px solid var(--color-primary) !important;
    border-radius: 0;
}

.headerTitle {
    background-color: var(--color-tertiary) !important;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 0 !important;
}