body {
    background-color: var(--color-secondary);
}

.bg-primary {
    background-color: #4FB477;
}

.bg-secondary {
    background-color: #DCFFFD;
}

:root {
    --color-primary: #4FB477;
    --color-secondary: #DCFFFD;
    --color-tertiary: #3F6634;
}